#Weekly class demos and Exercises summary  
- 10 weeks course (2.5h class/demos/labs) / 30 min practice

#Weekly Topics
 - EDA, SQL, ETL, ELT

#Weekly Homework , Class Assignment, Class Project
- Reading/review

  - w3schools reference
  - https://www.w3schools.com/python/pandas/pandas_intro.asp
  - https://www.programiz.com/python-programming/pandas/dataframe-manipulation
  
- practice: in-class exercises

- pdf ebook ref
- exercises , course book pages
- pages:
   -

#github course demos and examples

- https://github.com/deanliit/begin-adv-python-course-I

- https://github.com/deanliit/begin-adv-python-course-II

## Python references
https://www.w3schools.com/python/python_intro.asp
- Course book

### Class Quiz - Email link to google forms

<pre>

- 3 quizzes - similar to python entry level quiz
- multiple choice
- 6 multiple choice quesitons = 85%
- 1 code fill-in question
-- write code is vs.code - copy code in quiz
-- small example program -- 15%
example: write a progarm to compute 2 numeric values
notes: create code in a function
use input to retieve integer values
display items and total

def calc_total():
  num2 = input("num1")
  num2 = input("num2")
  total = nint(um1) + int(num2)
  print(f"total {total}")
  #print("total", total)
  
- take home
- approx. 1 week to complete
- submit answers with quiz
- quiz is similar question to python Entry Level Exam
- review quiz in class

</pre>

In [ ]:
#python EDA, SQL, ETL, ELT

#Exploritory Data Analysis
#Extract Transform Load
#Extract Load Transform

#

"""
https://www.programiz.com/python-programming/pandas/introduction

https://www.w3schools.com/python/pandas/pandas_intro.asp

> start by learning about the data / dataset

different type of dataset

- in-memory array , list
- csv file, excel, text , xml
- sql table
- html page - ie: screen scraping
- big data -
  - data warehouse - schema sql table data , readonly non real-time data update
  - data lake - raw data on drives
  - cloud data storage
  - hadoop data strage

- different shape = ie: data table
- vector or array
- series - row/column

Tools to acces data
- ETL tools
- SQL Database
- Python Pandas

#Data Analysis process - EDA, ETL
= standandard to create, update, delete, select data
- python pandas, numpy
- sql

> EDA - Exploritory data analysis
  - learning about data
  - data cleaning, creating new data sets,
  - CRUD, create, update and delete data
  - create graphs

> ETL - Extract Tranform Load
  - batch process to extract, transoft/convert, load

> Business Intellegence
 - use graphs and dashboards for data analysis

> Make predictions about some data
 - Machine Learning

ETL, ELT
---------------
Source data - original or raw data
Transformation - converting data to new format ie: adding, removing columns, create sql, filter etc..
Destination Data - new output data

"""

In [ ]:
#EDA - Panadnas - Dataframe Manipulation -
#CRUD- Create/Insert, Update, Delete, create columns, modifiy columns, drop columns, select data

#https://www.programiz.com/python-programming/pandas/dataframe-analysis

#pandas/SQL comparison
#-left, right, inner, full outer join
#https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html

#EDA - Panadnas - Dataframe Manipulation -
#CRUD- Create/Insert, Update, Delete, create columns, modifiy columns, drop columns, select data

"""
- CRUD - create/insert, update, delete data
- add, remove columns
- loc, iloc, query , filter, isin
- duplicate
- data clearning
- grouping, aggrigate data
- graphs, charts
- Joining related data
"""

In [ ]:
#SQL - Structured query langauge
# intrduciton to SQL
# https://www.w3schools.com/sql/

"""
RDBMS - Relational Transactional database
      - Realtime , transactional systems

NO-SQL/Json text documents

Databases:

on-Premise:
- Oracle, Sql Server, Other

Hybrid SQl and NO-SQL/Json text documents:
- MySql
- Postgresql

Cloud:
- Aws RDS
- Azure: Sql Server
- Gcp -

portable:
- Microsoft Access
- Sqlite

Sqlite - full featured local text base database

https://sqlitebrowser.org/dl/

DB Browser for SQLite - Standard installer for 64-bit Windows
Also: MacOs, Liinux

"""

'string'

SQLite class Demo

<pre>
======================
SQL - EDA
======================
- Create database
- Create table / schemas ie: Dataframe
- CRUD - create/insert, update, delete data
- add, remove columns
- where ie: loc, iloc, query , filter, isin
- duplicate
- data clearning
- grouping, aggrigate data
- graphs, charts
- Joining related data

</pre>

##Sqlite db Browser demo

<pre>
Create database
--------------------
- start sqlite db browser
- select create new database
- name: demodb1
- save
  (extensions: *.db, *.sqlite, *.sqlit3, *.db3)


Create table
--------------------
- table name: contact
- fields
  Type - number, string, blob/object
  NN - Not null, must not be null
  PK - Primary key - key can not be duplicate , primary key is also unique
       used as default data sorting
  AI - Auto increment
  U - unique - does not be duplicate , primary key is also unique
  Default - add defult value when field is empty
  Check - additional sql field validation

Save Sqlite project
------------------------------
- file, select save project

SQL table code
------------------

CREATE TABLE "contact" (
	"id"	INTEGER NOT NULL UNIQUE,
	"name"	TEXT NOT NULL,
	"email"	TEXT NOT NULL,
	"phone"	TEXT,
	PRIMARY KEY("id" AUTOINCREMENT)
);

</pre>

### Sqlitdb browser sql code demo

- https://www.w3schools.com/sql/sql_select.asp

<pre>
--select all row and all columns
select *
from contact
;

--select all row and name snd email columns
select name,email
from contact
;

-- filter rows , display on ly selected row, and selected columns
SELECT name, email, phone
FROM contact
WHERE name='sam';

</pre>