#Weekly class demos and Exercises summary  
- 10 weeks course (2.5h class/demos/labs) / 30 min practice

#Weekly Topics
 - Beautiful soup summary
 - AI/ML introduction  
  - https://www.w3schools.com/python/python_ml_getting_started.asp

## Html screen scraping
- https://stackabuse.com/guide-to-parsing-html-with-beautifulsoup-in-python/

#Weekly Homework , Class Assignment, Class Project
- Reading/review

  - w3schools reference
  - classes, lamda
  
- practice: in-class exercises

- pdf ebook ref
- exercises , course book pages
- pages:
   -

#github course demos and examples

- https://github.com/deanliit/8-24-begin-adv-python.git

## Python references
https://www.w3schools.com/python/python_intro.asp
- Course book

### Class Quiz - Email link to google forms

<pre>

- 3 quizzes - similar to python entry level quiz
- multiple choice
- 6 multiple choice quesitons = 85%
- 1 code fill-in question

> fill-in code section
write code is vs.code - copy code in quiz
small example program -- 15%
example: write a progarm to compute 2 numeric values
notes: create code in a function
use input to retieve integer values
display items and total

def calc_total():
  num2 = input("num1")
  num2 = input("num2")
  total = nint(um1) + int(num2)
  print(f"total {total}")
  #print("total", total)
  
- take home
- approx. 1 week to complete
- submit answers with quiz
- quiz is similar question to python Entry Level Exam
- review quiz in class

</pre>

In [4]:
#Quiz #2 review

items = (1,1.2,3,4.1,5.3) #tuple is read-only

#access index - list/array/tuple , n/a - set, map
#items[1] = 1.3

print(items[1])

if 1.3 in items: #array/list/tuple/set/map
    print("1.3 is in collection")
else:
  print("1.3 is NOT in collection")

1.2
1.3 is NOT in collection

In [5]:
#python operators
x = 15
y = 2

print("x/y: ",(x/y))
print("x//y: ",(x//y))
print("x**y: ",(x**y))
print("x%y: ",(x%y))

x/y:  7.5
x//y:  7
x**y:  225
x%y:  1

In [8]:
contacts = "ann,annd@gmail.com,723-32-3484"
contact_list = contacts.split(",")

print(contact_list)

#access index
print(contact_list[1])

#negative index - last item in array
print(contact_list[-1])

['ann', 'annd@gmail.com', '723-32-3484']
annd@gmail.com
723-32-3484

In [11]:
#while loop

i=0

#error prone
while (i<=10): #logical expression to stop a while loop
  #can have infinite loop of you do not stop the while loop
  pass #do nothing
  None #do nothing
  i += 1

print(i)

11

In [12]:
#for loop

for i in range(10):
  pass #do nothing
  None #do nothing
  i += 1

print(i)

10

In [14]:
#class - OOP
class MyClass:
  None #ie: null
  pass #ie: null

In [21]:
"""
Create a program to prompt for a username and compute the total of the following collection of items.

 1.2, 3, 10.3, 11, 15.7, 18.9, 20.8, 30.2

Display the following output:

USERNAME today's date

items:
[1.2, 3, 10.3, 11, 15.7, 18.9, 20.8, 30.2]

total

note:
create code using a function
Use a list to store items
Prompt for username
Convert username to uppercase
Display today's date
Display rounded total to 2 decimal points
"""

#solution #1

import datetime

items = [1.2, 3, 10.3, 11, 15.7, 18.9, 20.8, 30.2]

def calc_total():
  total = 0.0
  username = "userone".upper() #input("username: ")

  now = datetime.datetime.now()

  _date1 = f"{now.month}/{now.day}/{now.year}"
  _date2 = now.strftime("%m/%d/%y")

  for item in items:
    total += item

  print(username, " ", _date2)
  print()
  print(items)
  print()
  print("total: ", round(total,2))


calc_total()

USERONE   11/26/24

[1.2, 3, 10.3, 11, 15.7, 18.9, 20.8, 30.2]

total:  111.1

In [22]:
#solution #2

import datetime

items = [1.2, 3, 10.3, 11, 15.7, 18.9, 20.8, 30.2]

def calc_total():
  total = 0.0
  username = "userone".upper() #input("username: ")

  now = datetime.datetime.now()

  _date1 = f"{now.month}/{now.day}/{now.year}"
  _date2 = now.strftime("%m/%d/%y")

  #for item in items:
  # total += item

  #functional programming: ai/ml, mathamitical calculations, optimize code statements
  #aloe: filter, map, other
  #also lamda:

  total = sum(items)

  print(username, " ", _date2)
  print()
  print(items)
  print()
  print("total: ", round(total,2))


calc_total()

USERONE   11/26/24

[1.2, 3, 10.3, 11, 15.7, 18.9, 20.8, 30.2]

total:  111.1

In [ ]:
## Ai/Ml introduction
# https://www.w3schools.com/python/python_ml_getting_started.asp

# google classroom AI/ML summary notes

"""

7 Steps to Build a Machine Learning Model with Python

1. Loading the dataset. - etl
2. Understanding the dataset. - eda
3. Data preprocessing. - eda , new dataset
4. Data visualization.
5. Building a regression model, model selection
6. Model evaluation, training
7. Model prediction

* Deploy ml model to production
Compare results in production
Repeat steps 1-7

"""